go 1.22.3

use (
	./cmd/authorshipRelationships
	./cmd/citesRelationships
	./cmd/fundsRelationships
	./cmd/generateGraphML
	./cmd/keywordsRelationships
	./cmd/nodes/authors
	./cmd/nodes/works
	./cmd/workIndex
	./types
	./utils
)
