go 1.22.3

use (
	./cmd
	./cmd/authorObjects
	./cmd/authorshipRelationships
	./cmd/citesRelationships
	./cmd/fundsRelationships
	./cmd/generateGraphML
	./cmd/keywordsRelationships
	./cmd/workIndex
	./cmd/workObjects
	./types
	./utils
)
